<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">fragment</title>

    <link href="../static/images/me.jpg" th:href="@{/images/pika.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="../static/dist/semantic/semantic.min.css" th:href="@{/dist/semantic/semantic.min.css}">
    <link rel="stylesheet" href="../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../static/css/timeline.css" th:href="@{/css/timeline.css}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/lib/music/css/zplayer.min.css" th:href="@{/lib/music/css/zplayer.min.css}"/>
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}">
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
</head>
<body>
<!--导航-->
    <nav id="nav" class="gird-header" style="display: none" th:fragment="nav(status)">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui orange header item" style="font-family: STSong">PIKA'S</h2>
                <!--<div class="right m-item item m-mobile-hide">-->
                <a href="#" class="m-item item" th:classappend="${status == 1} ? 'active'" th:href="@{/}"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item" th:classappend="${status == 2} ? 'active'" th:href="@{/types}"><i class="clone outline icon"></i>分类</a>
                <a href="#" class="m-item item" th:classappend="${status == 3} ? 'active'" th:href="@{/archives}"><i class="clock icon"></i>时间轴</a>
                <a href="#" class="m-item item" th:classappend="${status == 4} ? 'active'" th:href="@{/music}"><i class="music icon"></i>音乐盒</a>
                <a href="#" class="m-item item" th:classappend="${status == 5} ? 'active'" th:href="@{/about}"><i class="info icon"></i>关于我</a>
                <!--</div>-->
                <div class="right inverted m-item item">
                    <form name="search" action="#" method="post" th:action="@{/search}">
                        <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                            <input style="color: white" type="text" name="title" placeholder="Search....">
                            <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                        </div>
                    </form>
                </div>
                <a class="ui right item" th:if="${session.user}==null" th:href="@{/admin}">管理后台</a>
                <div class="right m-item m-mobile-hide menu" th:if="${session.user}!=null">
                    <div class="ui dropdown item">
                        <img class="ui avatar image" src="../../static/images/pika.jpg" th:src="@{/images/pika.jpg}">冯雨轩
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">修改密码</a>
                            <a href="#" th:href="@{/admin/blogs}" class="item">管理后台</a>
                            <a href="#" class="item" th:href="@{/admin/logout}">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-hide" style="display: none">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--底部栏-->
    <footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" th:fragment="footer">
        <!--容器-->
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="five wide column">
                    <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >联系我</div>
                    <div class="ui inverted link list">
                        <div href="#" class="m-text-thin">Email：iws_fyx@163.com</div>
                        <div href="#" class="m-text-thin">QQ：978505436</div>
                    </div>
                </div>

                <div class="five wide column" >
                    <div class="ui inverted link list">
                        <div class="item">
                            <!--微信二维码-->
                            <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >关注微信</div>
                            <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>

                <!--博客运行时间统计-->
                <div class="six wide column">
                    <div style="font-size: large;font-weight: bold" class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息</div>
                    <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                    <div id="blog-message">
                        <div class="ui inverted link list" style="align-content: center;margin-top: 10px">
                            <div class="m-text-thin" style="text-align: left;margin-left: 150px;">
                                文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null" th:text="${blogCount}" style="font-size:medium;"> 14 </h2> 篇
                            </div>
                            <div class="m-text-thin" style="text-align: left;margin-left: 150px">
                                访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null" th:text="${viewCount}" style="font-size:medium;"> 14 </h2> 次
                            </div>
                            <div class="m-text-thin" style="text-align: left;margin-left: 150px">
                                评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null" th:text="${commentCount}" style="font-size:medium;"> 14 </h2> 条
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)</div>
        </div>
        </div>

    </footer>

    <th:block th:fragment="script">
        <script src="../static/dist/jquery/jquery-3.4.1.min.js" th:src="@{/dist/jquery/jquery-3.4.1.min.js}"></script>
        <script src="../static/dist/semantic/semantic.min.js" th:src="@{/dist/semantic/semantic.min.js}"></script>
        <script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
        <script src="../static/lib/timeline/timeline.js" th:src="@{/lib/timeline/timeline.js}"></script>
        <script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
        <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
        <script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
        <script src="../static/lib/scrollTo/jquery.scrollTo.min.js" th:src="@{/lib/scrollTo/jquery.scrollTo.min.js}"></script>
        <script type="text/javascript" src="../static/lib/music/js/zplayer.min.js" th:src="@{/lib/music/js/zplayer.min.js}"></script>
    </th:block>

</body>
</html>